<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <link rel="stylesheet" href="/stylesheets/clients.css" />
    <script>
      // temp;
      // setTimeout(_ => location.reload(), 1000);
    </script>
  </head>
  <body>
    <%- include('./commons/header') %>
    <div class="container">
      <div class="title shadow">
        <div class="homeIconFrame">
          <div class="homeIcon"></div>
        </div>

        <div class="logo"></div>
        <div class="empty"></div>
      </div>
      <div class="frame">
        <div class="label">RECENT</div>
        <div class="recentList small">
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
        </div>
        <div class="label">CLIENTS</div>
        <div class="recentList big">
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face"></div>
            <div class="name">Meg Fletcher</div>
          </div>
          <div class="person">
            <div class="face add"></div>
            <div class="name">Meg Fletcher</div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./commons/footer') %>
  </body>
</html>
