<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <link rel="stylesheet" href="/stylesheets/clients.css" />
  </head>
  <body>
    <%- include('./commons/header') %>
    <div class="container"></div>
    <%- include('./commons/footer') %>
  </body>
</html>
