<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
  </head>
  <body>
    <%- include('./commons/header') %>
    <div class="container">
      <div class="left">
        <div class="logo"></div>
        <div class="menu">
          <div class="goToBack">
            <div class="homeIcon"></div>
          </div>
          <div class="recordButton">
            <i class="recordIcon"></i>
            <div class="desc">
              RECORDING
            </div>
          </div>
        </div>
        <div class="clientHead">
          <div class="desc">My Clients</div>
          <div class="faceImageFrame">
            <div class="faceImage"></div>
          </div>
        </div>
        <div class="clientBody">
          <div class="shareIcon"></div>
          <div class="frame">
            <div class="wrapper">
              <label for="name">Name</label>
              <div><div>Meg Fletcher</div></div>
            </div>
            <div class="wrapper">
              <label for="Contact">Contact</label>
              <div><div>82-01-0472-6945</div></div>
            </div>
            <div class="wrapper">
              <label for="Email">Email</label>
              <div><div>lipilman@naver.com</div></div>
            </div>
            <div class="wrapper">
              <label for="Recent meeting">Recent meeting</label>
              <div><div>2020/02/16</div></div>
            </div>
            <div class="wrapper">
              <label for="Number of meetings">Number of meetings</label>
              <div><div>6</div></div>
            </div>
            <div class="wrapper">
              <label for="Position">Position</label>
              <div><div>LG department of human resources, a personnel manager</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <div class="clientInfo">
            <div class="frame">
              <div class="shareIcon2"></div>
              <div class="title">Core Keywords</div>
              <div class="keywords">
                <span class="keyword">facilities for communication</span>
                <span class="keyword">budget consultation</span>
                <span class="keyword">Register for the establishment</span>
                <span class="keyword">nonprofit organization</span>
                <span class="keyword">Checking records</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">communication</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">Checking records</span>
              </div>
              <div class="border"></div>
              <div class="sentences">
                <div class="sentencesDesc">다음은 고객의 감정이 느껴지는 문장입니다.</div>
                <div class="sentenceGood">
                  I like the model I saw last time, so I want to move forward with this contract.
                  <div class="thumbupIcon"></div>
                </div>
                <div class="sentenceBad">
                  If the terms of the contract are not met in the budget, we should consider investing.
                  <div class="thumbdownIcon"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="checklist">
            <div class="frame">
              <div class="inner">
                <div class="shareIcon2"></div>
                <div class="innerDesc">Check list</div>
                <div class="wrapper">
                  <div>
                    <input type="checkbox" />
                    <div>계약사항 6번 재확인</div>
                  </div>
                  <div>
                    <input type="checkbox" />
                    <div>거래 절차 확인</div>
                  </div>
                  <div>
                    <input type="checkbox" />
                    <div>수주 금액 확인</div>
                  </div>
                  <div>
                    <input type="checkbox" />
                    <div>고객 골프 안부 묻기</div>
                  </div>
                  <div>
                    <input type="checkbox" />
                    <div>재계약확인</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="meetingList">
          <div class="frame">
            <div class="inner">
              <div class="meetingDesc">Meeting List</div>
              <div class="meetings">
                <table>
                  <tbody>
                    <tr>
                      <td>#1</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#2</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#3</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#4</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#5</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#6</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#7</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#8</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                    <tr>
                      <td>#9</td>
                      <td>20200205 00:54:50</td>
                      <td class="share">
                        <span>Share</span>
                        <div class="shareIcon3"></div>
                      </td>
                      <td class="download">
                        <span>Download</span>
                        <div class="downloadIcon"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./commons/footer') %>
  </body>
</html>

<!-- <input type="file" accept="audio/*" capture="microphone" id="recorder" />
      <audio id="player" controls></audio>
      <script>
        var recorder = document.getElementById("recorder");
        var player = document.getElementById("player");

        recorder.addEventListener("change", function(e) {
          var file = e.target.files[0];
          // Do something with the audio file.
          player.src = URL.createObjectURL(file);
        });
      </script> -->
