<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <script src="/javascripts/p5.min.js"></script>
  </head>
  <body>
    <%- include('./commons/header') %>
    <div class="container">
      <div class="left">
        <div class="logo"></div>
        <div class="menu">
          <div class="goToBack">
            <div class="homeIcon"></div>
          </div>
          <div class="recordButton">
            <i class="recordIcon"></i>
            <div class="desc">
              RECORDING
            </div>
            <input type="file" accept="audio/*" capture="microphone" id="recorder" />
          </div>
        </div>
        <div class="clientHead">
          <div class="desc">My Clients</div>
          <div class="faceImageFrame">
            <div class="faceImage"></div>
          </div>
        </div>
        <div class="clientBody">
          <div class="shareIcon"></div>
          <div class="frame">
            <div class="deco"></div>
            <div class="wrapper">
              <label for="name">Name</label>
              <div><div>Meg Fletcher</div></div>
            </div>
            <div class="wrapper">
              <label for="Contact">Contact</label>
              <div><div>82-01-0472-6945</div></div>
            </div>
            <div class="wrapper">
              <label for="Email">Email</label>
              <div><div>reagreh42@gmail.com</div></div>
            </div>
            <div class="wrapper">
              <label for="Recent meeting">Recent meeting</label>
              <div><div>2020/02/16</div></div>
            </div>
            <div class="wrapper">
              <label for="Number of meetings">Company</label>
              <div><div>LG Electronics</div></div>
            </div>
            <div class="wrapper">
              <label for="Position">Position</label>
              <div><div>Senior digital manager</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="top">
          <div class="clientInfo">
            <div class="frame">
              <div class="deco"></div>
              <div class="shareIcon2"></div>
              <div class="title">Keywords</div>
              <div class="keywords">
                <span class="keyword">facilities for communication</span>
                <span class="keyword">budget consultation</span>
                <span class="keyword">Register for the establishment</span>
                <span class="keyword">nonprofit organization</span>
                <span class="keyword">Checking records</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">communication</span>
                <span class="keyword">facilities for communication</span>
                <span class="keyword">Checking records</span>
              </div>
            </div>
            <div class="frame">
              <div class="deco"></div>
              <div class="shareIcon2"></div>
              <div class="title">Summary</div>

              <div class="sentences">
                <div class="sentencesDesc">
                  <div class="sentence">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laudantium Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, laudantium</div>
                  <div class="sentence">aliquam culpa omnis architecto quis dolores doloremque veniam perspiciatis aliquam culpa omnis architecto quis dolores doloremque veniam perspiciatis</div>
                  <div class="sentence">repellat velit eligendi hic quae exercitationem ad quam ipsum facilis. aliquam culpa omnis architecto quis dolores doloremque veniam perspiciatis</div>
                </div>
                <div class="dots"></div>
                <!-- <div class="sentenceGood">
                  I like the model I saw last time, so I want to move forward with this contract.
                  <div class="thumbupIcon"></div>
                </div>
                <div class="sentenceBad">
                  If the terms of the contract are not met in the budget, we should consider investing.
                  <div class="thumbdownIcon"></div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="checklist">
            <div class="deco"></div>
            <div class="frame">
              <div class="inner">
                <div class="shareIcon2"></div>
                <div class="innerDesc">Checklist</div>
                <div class="wrapper">
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="계약사항 6번 재확인" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="거래 절차 확인" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="수주 금액 확인" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="고객 골프 안부 묻기" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="재계약확인" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="" />
                  </div>
                  <div>
                    <input type="checkbox" />
                    <input type="text" value="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="meetingList">
          <div class="deco"></div>
          <div class="frame">
            <div class="inner">
              <div class="meetingDesc">Meeting List</div>
              <div class="meetings">
                <table>
                  <tbody>
                    <tr>
                      <td>Number</td>
                      <td>Created At</td>
                      <td>Recording Time</td>
                      <td>Place</td>
                      <td>Share</td>
                      <td>Audio</td>
                      <td>Script</td>
                    </tr>
                    <!-- <tr>
                      <td>#4</td>
                      <td>Feb 20,2020 - 12:42 PM</td>
                      <td>00:54:50</td>
                      <td class="placeIcon"></td>
                      <td class="shareIcon3"></td>
                      <td class="audioIcon"></td>
                      <td class="scriptIcon"></td>
                    </tr> -->
                    <tr>
                      <td>#3</td>
                      <td>Feb 18,2020 - 14:20 PM</td>
                      <td>00:52:40</td>
                      <td class="placeIcon"></td>
                      <td class="shareIcon3"></td>
                      <td class="audioIcon"></td>
                      <td class="scriptIcon"></td>
                    </tr>
                    <tr>
                      <td>#2</td>
                      <td>Feb 12,2020 - 12:09 PM</td>
                      <td>00:49:41</td>
                      <td class="placeIcon"></td>
                      <td class="shareIcon3"></td>
                      <td class="audioIcon"></td>
                      <td class="scriptIcon"></td>
                    </tr>
                    <tr>
                      <td>#1</td>
                      <td>Feb 10,2020 - 16:40 PM</td>
                      <td>00:49:49</td>
                      <td class="placeIcon"></td>
                      <td class="shareIcon3"></td>
                      <td class="audioIcon"></td>
                      <td class="scriptIcon"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="mailto:no-one@snai1mai1.com?subject=look at this website&body=Hi,I found this website and thought you might like it http://www.geocities.com/wowhtml/">tell a friend</a>

    <script>
      const recorder = document.getElementsByClassName("recordButton")[0];
      recorder.addEventListener("change", function(e) {
        var file = e.target.files[0];
        sendToServer(file, "/record");
      });
      function sendToServer(blob, url, name = "audio") {
        var formData = new FormData();
        formData.append(name, blob);
        $.ajax({
          url: url,
          type: "post",
          data: formData,
          contentType: false,
          processData: false,
          cache: false,
          success: function(data) {
            alert("녹음파일 등록이 완료되었습니다.");
          },
          error: function(data) {
            alert("녹음파일 등록이 실패했습니다.");
          }
        });
      }
    </script>

    <%- include('./commons/footer') %>
    <script>
      $(".goToBack").click(() => (window.location.href = "clients"));
    </script>
  </body>
</html>

<!-- 타원 원으로 -->
<!-- 스크립트 삭제 버튼 -->
<!-- 스크립트 세개로 -->
