<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <!-- <link rel="stylesheet" href="/stylesheets/debug.css" /> -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <!-- <%- include('./commons/header') %> -->
    <div class="container">
      <div class="header">
        <div class="logo kpmg"></div>
        <div class="logo twofivehours"></div>
        <div class="logo slogan">
          <p>With a focus on our clients' perspectives, a commitment to quality and a drive for innovation, KPMG professionals delivered</p>
        </div>
        <div class="logo theturtles"></div>
      </div>
      <div class="content">
        <div class="left">
          <!-- <div class="bar whiteBg"></div> -->
        </div>
        <div class="right">
          <div class="bar green"></div>
          <div class="title whiteBg">
            <div><span class="iconLogin"></span> MEMBER LOGIN</div>
          </div>
          <div class="login whiteBg">
            <form method="POST" action="login">
              <div class="left">
                <input type="text" name="id" placeholder="      ID" />
                <input type="password" name="pw" placeholder="      PW" />
                <input type="checkbox" name="autologin" />
                <label for="autologin">아이디 저장</label>
              </div>
              <div class="right">
                <button type="submit" class="shadow" id="loginBtn">LOGIN</button>
                <div id="unlockBtn" class="shadow">
                  <div class="iconUnlock"> </div>
                  &nbsp; &nbsp;&nbsp;&nbsp; UNLOCK ID</div
                >
              </div>
            </form>
          </div>
          <div class="notice">
            <div class="inner">
              <div class="title">
                <div class="iconNotice"></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 공지사항
              </div>
              <div class="article">
                <div class="date">2020.02.19</div>
                <div class="headline">美, 고강도 중국 압박…화웨이에 반도체 장비 공급도 막는다</div>
              </div>
              <div class="article">
                <div class="date">2020.02.19</div>
                <div class="headline">코로나19 세계경제 강타…"韓, 중간재 생산 역량 강화 필요"</div>
              </div>
              <div class="article">
                <div class="date">2020.02.19</div>
                <div class="headline">무디스 "코로나19 확산에 韓 GDP 1.9%로 하향"</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer whiteBg">
        <!-- <div class="bar olive"></div> -->
        <div class="copyright">
          <p>COPYRIGHT (C) KPMG. ALL RIGHTS RESERVED</p>
        </div>
        <div class="empty"></div>
        <div class="report link">
          <p>이용불편신고 <i>&rsaquo;</i></p>
        </div>
        <div class="term link">
          <p>개인정보처리방침 <i>&rsaquo;</i></p>
        </div>
      </div>
    </div>
    <%- include('./commons/footer') %>
  </body>
</html>
