<!DOCTYPE html>
<html>
  <head>
    <%- include('./commons/head') %>
    <!-- <link rel="stylesheet" href="/stylesheets/debug.css" /> -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <%- include('./commons/header') %>
    <div class="container">
      <div class="header">
        <div class="logo kpmg"></div>
        <div class="logo twofivehours"></div>
        <div class="logo slogan">
          <p>With a focus on our clients' perspectives, a commitment to quality and a drive for innovation, KPMG professionals delivered</p>
        </div>
        <div class="logo theturtles"></div>
      </div>
      <div class="content">
        <div class="left">
          <div class="bar skyblue"></div>
          <div class="bar whiteBg"></div>
        </div>
        <div class="right">
          <div class="title whiteBg">
            <h1>MEMBER LOGIN</h1>
          </div>
          <div class="login whiteBg">
            <form method="POST" action="login">
              <div class="left">
                <input type="text" name="id" placeholder="      ID" />
                <input type="password" name="pw" placeholder="      PW" />
                <input type="checkbox" name="autologin" />
                <label for="autologin">아이디 저장</label>
              </div>
              <div class="right">
                <button type="submit" id="loginBtn">LOGIN</button>
                <div id="unlockBtn">UNLOCK ID</div>
              </div>
            </form>
          </div>
          <div class="notice">
            <div class="inner">
              <div class="title">
                공지사항
              </div>
              <div class="article">
                <div class="date">2020.02.08</div>
                <div class="headline">KPMG건물 내 코로나 바이러스 대비 소독 안내(02/08 토요일)</div>
              </div>
              <div class="article">
                <div class="date">2020.01.19</div>
                <div class="headline">2020 League Table Awards ‘Best M&A Buyer’ 수상</div>
              </div>
              <div class="article">
                <div class="date">2020.01.17</div>
                <div class="headline">CES 2020, ‘인공지능을 우리의 일상으로’</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer whiteBg">
        <div class="bar olive"></div>
        <div class="copyright">
          <p>COPYRIGHT (C) KPMG. ALL RIGHTS RESERVED</p>
        </div>
        <div class="empty"></div>
        <div class="report link">
          <p>이용불편신고 <i>&rsaquo;</i></p>
        </div>
        <div class="term link">
          <p>개인정보처리방침 <i>&rsaquo;</i></p>
        </div>
      </div>

      <!-- <p>로그인</p>
      <form action="login" method="POST">
        <input type="text" name="id" />
        <input type="password" name="pw" />
        <button type="submit">로그인</button>
        <p>테스트<p>
      </p> -->
    </div>
    <%- include('./commons/footer') %>
  </body>
</html>
