// $변수이름: 속성값;
$color-blue: rgb(1, 115, 187);
$color-lightblue: rgb(0, 145, 255);
$color-darkblue: rgb(16, 55, 147);
$color-green: rgb(0, 172, 166);
$color-gray: rgb(238, 242, 245);
$color-purple: rgb(114, 41, 133);
$color-red: rgb(255, 54, 48);
