@import "variables";

.container {
  border-radius: 50px;
  background-image: url("/images/bg8.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  .title {
    border-radius: 50px;
    height: 80px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    display: flex;
    .homeIconFrame {
      flex: 1;
      height: 80px;
      display: flex;
      justify-content: start;
      align-items: center;
      .homeIcon {
        cursor: pointer;
        background-image: url("/images/icon_home.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 50%;
        width: 100px;
        margin-left: 30px;
      }
    }
    .logo {
      flex: 2;
      background-image: url("/images/logo_25hours.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 400px;
      height: 80px;
      background-position-x: center;
    }
    .empty {
      flex: 1;
    }
  }

  .frame {
    width: 90%;
    margin: 0 auto;
    height: 800px;
    margin-top: 100px;
    .label {
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 4px;
      color: white;
      margin: 20px 0;
    }
    .recentList.small {
      > .person {
        margin-right: 00px;
        height: 140px;
        .face {
          width: 120px;
          height: 120px;
        }
      }
      > .person:nth-child(1) {
        margin-left: 40px;
      }
    }
    .recentList.big {
      justify-content: space-between;
      .person {
        flex-basis: 21%;
        margin-right: 0;
      }
    }
    .recentList {
      overflow-y: auto;
      min-height: 150px;
      max-height: 440px;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      .person {
        width: 180px;
        height: 180px;
        margin-right: 100px;
        margin-bottom: 40px;
        .face {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          background-image: url("/images/face3.jpg");
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 50%;
          &.add {
            background-image: url("/images/logo_plus.png");
            background-position: center center;
            background-color: white;
            & + .name {
              visibility: hidden;
            }
          }
        }
        .name {
          width: 150px;
          margin: 0 auto;
          text-align: center;
          margin-top: 5px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.modal {
  position: absolute;
  width: 1366px !important;
  height: 1024px !important;
  border-radius: 50px;
  top: 0;
  left: 0;
  .blur {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(gray, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .popup {
      width: 500px;
      height: 650px;
      background-color: white;
      border-radius: 50px;
      position: relative;
      .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 110px;
        height: 40px;
        background-image: url("/images/logo_25hours.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
      .title {
        height: 60px;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 30px;
      }
      .panel {
        display: flex;
        > div {
          flex-basis: 50%;
        }
        .left {
          .face {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            background-size: contain;
            border-radius: 50%;
          }
        }
        .right {
          > div {
            min-height: 70px;
            width: 220px;
            .label {
              color: gray;
              padding-bottom: 10px;
            }
            .content {
              font-size: 1.1rem;
              padding-left: 20px;
              padding-right: 10px;
              border-bottom: 1px solid;
            }
          }
        }
        .cancelButton,
        .nextButton {
          flex-basis: 50%;
          justify-content: center;
          align-items: center;
          display: flex;
          height: 120px;
          font-size: 1.4rem;
          cursor: pointer;
          &.cancelButton > div {
            background-color: gray;
          }
          &.nextButton > div {
            background-color: $color-green;
          }
          > div {
            color: white;
            width: 150px;
            height: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
// temp
.face1 {
  background-image: url("/images/face1.jpg") !important;
}
.face2 {
  background-image: url("/images/face2.jpg") !important;
}
.face3 {
  background-image: url("/images/face3.jpg") !important;
}
.face4 {
  background-image: url("/images/face4.jpg") !important;
}
.face5 {
  background-image: url("/images/face5.jpg") !important;
}
.face6 {
  background-image: url("/images/face6.jpg") !important;
}
.face7 {
  background-image: url("/images/face7.jpg") !important;
}
.face8 {
  background-image: url("/images/face8.jpg") !important;
}
.face9 {
  background-image: url("/images/face9.jpg") !important;
}
.person {
  cursor: pointer;
}
.disable {
  visibility: hidden;
}
