@import "variables";
@font-face {
  font-family: rix;
  src: url("/fonts/rix_m.wof") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 1366px !important;
  height: 1024px !important;
  box-sizing: border-box;
}
html *,
body * {
  font-family: rix;
  box-sizing: inherit;
}
html {
  background-color: white;
}
body {
  background-color: $color-blue;
  border-radius: 70px;
}
input {
  -webkit-border-radius: 0;
  border-radius: 0;
  &[type="checkbox"] {
    padding: 1px !important;
    border: 0.1px solid !important;
    width: 4px !important;
    height: 8px !important;
    width: 8px !important;
  }
}
.shadow {
  box-shadow: 1px 1px 1px 1px rgba(gray, 0.3);
}
input[type="text"]:focus {
  border-color: $color-blue !important;
}
// temp
body {
  // border: 1px red dotted;
}
