body {
  border-radius: 0 !important;
  background-color: #0173bb !important; }

.container {
  height: 100%;
  width: 100%;
  display: flex; }
  .container > .left,
  .container > .right {
    height: 100%;
    padding: 30px 0; }
  .container .left {
    flex: 2;
    text-align: center;
    background-color: white; }
    .container .left .logo {
      display: inline-block;
      width: 100%;
      height: 90px;
      background-image: url("/images/logo_25hours.png");
      background-size: 70%;
      background-position: center center;
      background-repeat: no-repeat; }
    .container .left .menu {
      margin: 20px 0;
      display: flex; }
      .container .left .menu .goToBack {
        cursor: pointer;
        background-color: #eef2f5;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
        width: 90px;
        height: 50px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center; }
        .container .left .menu .goToBack:hover {
          background-color: rgba(0, 0, 0, 0.2); }
        .container .left .menu .goToBack .homeIcon {
          background-image: url("/images/icon_home.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 35px !important;
          height: 35px !important;
          margin-right: 20px; }
      .container .left .menu .recordButton {
        cursor: pointer;
        position: relative;
        background-color: #ff3630;
        margin-left: 20px;
        width: 170px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .container .left .menu .recordButton:hover {
          background-color: rgba(255, 54, 48, 0.7); }
        .container .left .menu .recordButton .recordIcon {
          background-image: url("/images/icon_mic_white.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 35px !important;
          height: 35px !important;
          margin-right: 10px; }
        .container .left .menu .recordButton .desc {
          color: white; }
    .container .left .clientHead {
      margin: 0 auto;
      height: 250px;
      width: 100%;
      text-align: center;
      padding-top: 10px; }
      .container .left .clientHead .desc {
        margin: 10px;
        font-weight: bold; }
      .container .left .clientHead .faceImageFrame {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #0173bb;
        border-radius: 50%; }
        .container .left .clientHead .faceImageFrame .faceImage {
          width: 97%;
          height: 97%;
          background-image: url("/images/face1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%; }
    .container .left .clientBody {
      height: 550px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .container .left .clientBody .deco {
        top: 55px; }
      .container .left .clientBody .frame {
        width: 85%;
        height: 90%;
        padding: 20px;
        background-color: #eef2f5;
        border-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        position: relative; }
        .container .left .clientBody .frame .wrapper {
          width: 100%;
          flex-shrink: 0;
          text-align: left; }
          .container .left .clientBody .frame .wrapper label {
            font-size: 10px; }
          .container .left .clientBody .frame .wrapper > div {
            height: 30px;
            margin-top: 10px;
            display: flex;
            align-items: flex-end;
            border-bottom: 1px black solid; }
            .container .left .clientBody .frame .wrapper > div div {
              width: 100%;
              padding-bottom: 5px;
              padding-left: 20px; }
  .container > .right {
    flex: 7;
    width: 100%; }
    .container > .right .top {
      display: flex;
      height: 700px;
      width: 100%; }
      .container > .right .top .clientInfo {
        flex: 7;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .container > .right .top .clientInfo .frame {
          width: 90%;
          background-color: white;
          border-radius: 40px;
          position: relative; }
          .container > .right .top .clientInfo .frame:nth-of-type(1) {
            max-height: 320px; }
          .container > .right .top .clientInfo .frame .title {
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 30px;
            font-size: 1.4rem;
            font-weight: bold; }
          .container > .right .top .clientInfo .frame .keywords {
            margin: 10px 40px;
            word-wrap: normal; }
            .container > .right .top .clientInfo .frame .keywords .keyword {
              display: inline-block;
              font-size: 1rem;
              font-weight: bold;
              background-color: #65d6ce;
              color: black;
              border-radius: 40px;
              padding: 10px;
              margin: 5px;
              margin-right: 15px; }
          .container > .right .top .clientInfo .frame .border {
            border-bottom: 1px solid;
            width: 90%;
            margin: 0 auto;
            margin-top: 30px; }
          .container > .right .top .clientInfo .frame .sentences {
            padding: 0 40px 20px 40px; }
            .container > .right .top .clientInfo .frame .sentences .sentencesDesc {
              font-size: 0.4rem; }
              .container > .right .top .clientInfo .frame .sentences .sentencesDesc .sentence {
                padding-bottom: 10px;
                font-size: 1rem;
                line-height: 1.4rem; }
            .container > .right .top .clientInfo .frame .sentences .dots {
              height: 30px;
              background-image: url();
              background-repeat: no-repeat;
              background-position: center center; }
            .container > .right .top .clientInfo .frame .sentences .sentenceGood,
            .container > .right .top .clientInfo .frame .sentences .sentenceBad {
              margin-top: 10px;
              font-size: 0.6rem;
              position: relative;
              min-height: 2.4rem;
              padding-right: 20px; }
              .container > .right .top .clientInfo .frame .sentences .sentenceGood > div,
              .container > .right .top .clientInfo .frame .sentences .sentenceBad > div {
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: center;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 0;
                right: -20px;
                border-radius: 50%; }
                .container > .right .top .clientInfo .frame .sentences .sentenceGood > div.thumbupIcon,
                .container > .right .top .clientInfo .frame .sentences .sentenceBad > div.thumbupIcon {
                  background-image: url("/images/icon_thumbup.png");
                  border-color: orangered;
                  background-color: orangered; }
                .container > .right .top .clientInfo .frame .sentences .sentenceGood > div.thumbdownIcon,
                .container > .right .top .clientInfo .frame .sentences .sentenceBad > div.thumbdownIcon {
                  background-image: url("/images/icon_thumbdown.png");
                  border-color: skyblue;
                  background-color: skyblue; }
      .container > .right .top .checklist {
        flex: 3;
        height: 100%;
        position: relative; }
        .container > .right .top .checklist .deco {
          left: 0;
          top: 55px; }
        .container > .right .top .checklist .frame {
          padding-top: 16px;
          width: 100%;
          height: 100%; }
          .container > .right .top .checklist .frame .inner {
            position: relative;
            width: 90%;
            height: 94%;
            background-color: white;
            border-radius: 40px; }
            .container > .right .top .checklist .frame .inner .innerDesc {
              padding: 40px;
              padding-bottom: 20px;
              font-size: 1.4rem;
              font-weight: bold; }
            .container > .right .top .checklist .frame .inner .wrapper input[type="checkbox"] {
              margin-top: 5px;
              margin-left: 20px;
              display: inline-block;
              transform: scale(1.8);
              padding: 10px; }
            .container > .right .top .checklist .frame .inner .wrapper > div {
              padding: 15px 10px; }
              .container > .right .top .checklist .frame .inner .wrapper > div > input[type="text"] {
                border: 0;
                font-size: 1rem;
                display: inline-block; }
              .container > .right .top .checklist .frame .inner .wrapper > div:after {
                content: "";
                display: block;
                width: 85%;
                margin: 0 auto;
                height: 10px;
                border-bottom: 1px solid; }
    .container > .right .meetingList {
      width: 100%;
      height: 290px;
      position: relative; }
      .container > .right .meetingList .deco {
        left: 32px; }
      .container > .right .meetingList .frame {
        width: 94%;
        margin: 0 auto;
        background-color: white;
        border-radius: 40px;
        height: 90%; }
        .container > .right .meetingList .frame .inner {
          padding: 30px; }
          .container > .right .meetingList .frame .inner .meetingDesc {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 30px; }
          .container > .right .meetingList .frame .inner .meetings {
            width: 100%;
            height: 150px;
            overflow-y: auto;
            /* &::-webkit-scrollbar {
              width: 3px;
              background: none;
            }
            &::-webkit-scrollbar-thumb {
              background: #f8f7fb;
              opacity: 0.4;
            }
            &::-webkit-scrollbar-track {
              background: none;
            } */ }
            .container > .right .meetingList .frame .inner .meetings table {
              width: 90%; }
              .container > .right .meetingList .frame .inner .meetings table tr:nth-of-type(1) {
                height: 20px; }
                .container > .right .meetingList .frame .inner .meetings table tr:nth-of-type(1) td {
                  padding-top: 0 !important;
                  padding-bottom: 0 !important; }
              .container > .right .meetingList .frame .inner .meetings table tr {
                width: 100%;
                height: 40px;
                border-bottom: 1px solid; }
                .container > .right .meetingList .frame .inner .meetings table tr td:nth-of-type(1) {
                  padding: 10px;
                  padding-top: 15px;
                  width: 10%; }
                .container > .right .meetingList .frame .inner .meetings table tr * {
                  background-repeat: no-repeat;
                  background-size: 30px;
                  background-position-y: center; }
                .container > .right .meetingList .frame .inner .meetings table tr .placeIcon {
                  background-image: url("/images/icon_location.png");
                  cursor: pointer; }
                .container > .right .meetingList .frame .inner .meetings table tr .shareIcon3 {
                  background-image: url("/images/icon_share.png");
                  background-size: 25px;
                  cursor: pointer; }
                .container > .right .meetingList .frame .inner .meetings table tr .audioIcon {
                  background-image: url("/images/icon_audio.png");
                  cursor: pointer; }
                .container > .right .meetingList .frame .inner .meetings table tr .scriptIcon {
                  background-image: url("/images/icon_script.png");
                  background-size: 60%;
                  cursor: pointer; }
  .container .shareIcon {
    z-index: 999;
    background-image: url("/images/icon_share.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40px;
    right: 40px; }
  .container .shareIcon2 {
    background-image: url("/images/icon_share.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px; }

.deco {
  z-index: 999;
  position: absolute;
  top: 34px;
  left: 0px;
  width: 10px;
  height: 33px;
  background-color: #722985; }

#recorder {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
  cursor: pointer; }

.shareIcon,
.shareIcon2,
.shareIcon3 {
  cursor: pointer; }

.meetings td:first-child {
  cursor: pointer; }
  .meetings td:first-child:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.meetings tr:first-child td:first-child {
  cursor: auto !important; }

/*# sourceMappingURL=dashboard.css.map */