body {
  background-color: rgba(220, 220, 220, 0.927); }

.container {
  margin: 0 auto;
  width: 1200px;
  height: 820px;
  margin-top: 102px; }
  .container .header {
    height: 100px; }
    .container .header .logo {
      height: 100%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover; }
      .container .header .logo.kpmg {
        background-image: url("/images/logo_kpmg.png");
        width: 200px;
        margin-right: 20px; }
      .container .header .logo.twofivehours {
        background-image: url("/images/logo_25hours_temp.png");
        width: 320px;
        margin-right: 20px; }
      .container .header .logo.slogan {
        vertical-align: top;
        width: 350px; }
        .container .header .logo.slogan p {
          margin: 22px;
          line-height: 1.2em; }
      .container .header .logo.theturtles {
        background-image: url("/images/logo_theturtles.jpg");
        width: 100px;
        float: right; }
  .container .content {
    height: 650px; }
    .container .content > .left,
    .container .content > .right {
      display: inline-block;
      width: 50%;
      height: 100%; }
    .container .content > .left {
      float: left;
      background-image: url("/images/bg5_crop.png");
      background-size: cover; }
      .container .content > .left .bar.whiteBg {
        width: 6px; }
    .container .content > .right {
      float: right; }
      .container .content > .right > .title {
        height: 70px;
        border-bottom: 1px black solid; }
        .container .content > .right > .title h1 {
          padding-left: 90px;
          line-height: 70px;
          font-size: 1.5rem; }
      .container .content > .right .login {
        height: 340px; }
        .container .content > .right .login form {
          width: 100%;
          padding-top: 60px;
          padding-left: 80px; }
          .container .content > .right .login form .left {
            width: 300px;
            float: left; }
            .container .content > .right .login form .left input {
              display: block; }
              .container .content > .right .login form .left input[type="text"], .container .content > .right .login form .left input[type="password"] {
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
                height: 60px;
                width: 250px;
                font-size: 1.2rem;
                margin-bottom: 20px; }
                .container .content > .right .login form .left input[type="text"]:focus, .container .content > .right .login form .left input[type="password"]:focus {
                  border-color: skyblue; }
              .container .content > .right .login form .left input[type="checkbox"] {
                margin-top: 5px;
                margin-left: 20px;
                display: inline-block;
                transform: scale(1.8);
                padding: 10px; }
              .container .content > .right .login form .left input > input:placeholder,
              .container .content > .right .login form .left input > label {
                color: gray;
                font-weight: bold; }
          .container .content > .right .login form .right > * {
            cursor: pointer; }
          .container .content > .right .login form .right button {
            width: 140px;
            height: 150px;
            font-size: 1.4rem;
            color: white;
            background-color: skyblue;
            margin-bottom: 20px; }
            .container .content > .right .login form .right button:hover {
              background-color: blue; }
          .container .content > .right .login form .right div {
            width: 140px;
            height: 40px;
            font-size: 1.2rem;
            line-height: 42px;
            text-align: center;
            display: inline-block;
            background-color: gray;
            color: white; }
            .container .content > .right .login form .right div:hover {
              background-color: darkgray; }
      .container .content > .right .notice {
        height: 240px;
        background-color: gray;
        color: white; }
        .container .content > .right .notice .inner {
          padding: 30px 70px 0 70px; }
          .container .content > .right .notice .inner .title {
            padding-bottom: 10px;
            font-size: 1.2rem;
            font-weight: bold; }
          .container .content > .right .notice .inner .article {
            border-bottom: 1px solid white;
            cursor: pointer; }
            .container .content > .right .notice .inner .article:hover {
              color: black;
              border-color: black; }
            .container .content > .right .notice .inner .article .date {
              font-size: 1.1rem;
              padding-top: 10px; }
            .container .content > .right .notice .inner .article * {
              padding-bottom: 5px; }
  .container .footer {
    width: 100%;
    height: 70px;
    display: inline-block; }
    .container .footer .copyright {
      width: 400px;
      line-height: 72px;
      padding-left: 50px;
      vertical-align: middle;
      display: inline-block; }
    .container .footer .link,
    .container .footer .empty {
      margin: 0 10px;
      height: 100%;
      float: right;
      line-height: 72px;
      padding: 0 10px; }
      .container .footer .link:hover,
      .container .footer .empty:hover {
        color: white; }
    .container .footer .link {
      cursor: pointer; }
      .container .footer .link i {
        font-size: 21px; }
    .container .footer .empty {
      width: 90px !important; }
  .container .bar {
    float: left;
    width: 14px;
    height: 100%; }
    .container .bar.skyblue {
      background-color: skyblue; }
    .container .bar.olive {
      background-color: olive; }
  .container .whiteBg {
    background-color: rgba(255, 255, 255, 0.9); }

/*# sourceMappingURL=login.css.map */