@import "variables";

body {
  // background-image: url("/images/bg_blur_temp.png");
}
.container {
  margin: 0 auto;
  width: 1200px;
  // background-color: orange;
  height: 820px;
  padding-top: (1024-820)/2 - 20 + px;

  .header {
    height: 100px;

    .logo {
      height: 100%;
      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;

      &.kpmg {
        background-image: url("/images/logo_kpmg_reverse.png");
        width: 200px;
      }

      &.twofivehours {
        background-image: url("/images/logo_25hours2.png");
        background-size: contain;
        width: 287px;
        margin-right: 20px;
        background-position-y: 10px;
      }

      &.slogan {
        vertical-align: top;
        width: 350px;

        p {
          color: white;
          margin: 22px;
          line-height: 1.2em;
        }
      }

      &.theturtles {
        background-image: url("/images/logo_theturtles.png");
        background-size: 100%;
        background-position-y: 30px;
        width: 100px;
        float: right;
        margin-right: 20px;
      }
    }
  }

  .content {
    height: (820 - 100 - 70) + px;

    & > .left,
    & > .right {
      display: inline-block;
      width: 50%;
      height: 100%;
    }

    & > .left {
      float: left;
      background-image: url("/images/bg5_crop.png");
      background-size: cover;
    }
    & > .right {
      float: right;
      .bar.whiteBg {
        width: 6px;
      }
      > .title {
        height: 70px;
        border-bottom: 1px black solid;
        position: relative;

        .iconLogin {
          display: inline-block;
          background-image: url("/images/icon_login.png");
          background-size: contain;
          position: absolute;

          top: 18px;
          left: 50px;
          width: 37px;
          height: 35px;
        }
        div {
          padding-left: 90px;
          line-height: 76px;
          font-size: 1.5rem;
        }
      }
      .login {
        height: 340px;

        form {
          width: 100%;
          padding-top: 60px;
          padding-left: 80px;

          .left {
            width: 300px;
            float: left;
            input {
              display: block;
              &[type="text"],
              &[type="password"] {
                border: none;
                border-bottom: 2px solid black;
                background-color: transparent;
                height: 60px;
                width: 250px;
                font-size: 1.2rem;
                margin-bottom: 20px;
                &:focus {
                  border-color: skyblue;
                }
              }
              &[type="checkbox"] {
                margin-top: 5px;
                margin-left: 20px;
                display: inline-block;
                transform: scale(1.8);
                padding: 10px;
              }
              > input:placeholder,
              > label {
                color: gray;
                font-weight: bold;
              }
            }
          }
          .right {
            > * {
              cursor: pointer;
            }
            button#loginBtn {
              width: 150px;
              height: 150px;
              border-radius: 40px;
              font-size: 1.4rem;
              color: white;
              background-color: $color-green;
              margin-bottom: 20px;
              &:hover {
                background-color: rgba($color-green, 0.7);
              }
            }
            #unlockBtn {
              width: 150px;
              height: 40px;
              border-radius: 40px;
              font-size: 1rem;
              line-height: 42px;
              text-align: center;
              display: inline-block;
              background-color: $color-darkblue;
              color: white;
              position: relative;
              .iconUnlock {
                background-image: url("/images/icon_unlock.png");
                display: inline-block;
                background-size: contain;
                position: absolute;

                top: 6px;
                right: 108px;
                width: 28px;
                height: 28px;
              }
              &:hover {
                background-color: rgba($color-darkblue, 0.7);
              }
            }
          }
        }
      }
      .notice {
        height: (650 - 70 - 340) + px;
        background-color: $color-darkblue;
        color: white;
        .inner {
          padding: 30px 70px 0 70px;
          .title {
            padding-bottom: 10px;
            font-size: 1.4rem;
            font-weight: bold;
            position: relative;
            .iconNotice {
              position: absolute;
              left: -10px;
              top: -10px;
              background-image: url("/images/icon_notice.png");
              background-size: cover;
              background-repeat: no-repeat;
              display: inline-block;
              width: 40px;
              height: 40px;
            }
          }
          .article {
            border-bottom: 1px solid white;
            cursor: pointer;
            &:hover {
              color: rgba(white, 0.7);
              border-color: rgba(white, 0.7);
            }
            .date {
              font-size: 1.1rem;
              padding-top: 10px;
            }
            .headline {
              font-size: 0.8rem;
            }
            * {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 70px;
    display: inline-block;
    .copyright {
      width: 700px;
      line-height: 72px;
      padding-left: 50px;
      vertical-align: middle;
      display: inline-block;
    }

    .link,
    .empty {
      margin: 0 10px;
      height: 100%;
      float: right;
      line-height: 72px;
      padding: 0 10px;
      &:hover {
        color: rgba(black, 0.5);
      }
    }
    .link {
      cursor: pointer;
      i {
        font-size: 21px;
      }
    }
    .empty {
      width: 90px !important;
    }
  }

  // rest
  .bar {
    float: left;
    width: 14px;
    height: 100%;
    &.green {
      background-color: $color-green;
    }
    &.olive {
      background-color: olive;
    }
  }
  .whiteBg {
    background-color: white;
  }
  > .content {
    .left {
      border-top-left-radius: 40px;
    }
    > .right > .title {
      border-top-right-radius: 40px;
    }
  }
  > .footer {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
